body {
  background-color: rgba(255, 121, 73, 0.3);
  font-family: Montserrat;
}
ul {
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration: underline;
  text-decoration-color: rgba(91, 94, 102, 0.4);
  color: #5b5e66;
  transition: all 200ms ease;
}

a:hover {
  color: rgb(255, 121, 73);
  font-weight: 500;
  text-decoration: none;
}
.btn-lang {
  display: block;
  float: right;
  text-align: center;
  width: 40px;
  padding: 4px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 400;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 4px 4px 4px 0;
}
.btn-lang:hover {
  background-color: rgba(255, 121, 73, 0.5);
  border: none;
  color: white;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
  padding: 20px 0px 40px 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(239, 239, 239);
  border-radius: 4px;
}

.photo {
  width: 65%;
}

.col-sm-12 {
  background-color: white;
  flex: 1;
  margin: 10px 2px;
  padding: 20px 5px 20px 20px;
  border-radius: 10px;
}

.header {
  background-color: rgba(255, 121, 73, 0.9);
  text-align: center;
  padding: 10px 0px;
}
.name {
  color: rgb(239, 239, 239);
  font-weight: 700;
  font-size: 30px;
}
.profession {
  color: #5b5e66;
  font-weight: 500;
  font-size: 22px;
}
.heading-1 {
  color: rgb(255, 121, 73);
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.heading-2 {
  color: black;
  font-weight: 700;
  font-size: 14px;
  margin: 7px 0;
}
.heading-3 {
  color: black;
  font-weight: 400;
  font-size: 13px;
  font-style: italic;
  margin: 7px 0;
  color: #5b5e66;
}
.main-text {
  color: #5b5e66;
  font-weight: 400;
  font-size: 13px;
}
.contacts {
  margin: 10px 0px;
  padding: 20px;
}
.col-12 {
  margin-left: 8px;
  margin-bottom: 5px;
}
